<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
</head>
<body>
    <h2>Welcome, {{ session.username }}!</h2>
    <div style="text-align: center;">
        <form action="/logout" method="GET" style="display: inline-block;">
            <input type="submit" value="Log out" style="width: 150px;">
        </form>
        <br>
        <form action="/create_deck" method="GET" style="display: inline-block;">
            <input type="submit" value="Create deck" style="width: 150px;">
        </form>
    </div>
    <div>
        <h3>Your Decks:</h3>
        <ul>
            {% for deck in user_decks %}
                <li><a href="/deck/{{ deck.id }}">{{ deck.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>